<!--<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Robotics Vidhya</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a routerLink="/home">HOME</a></li>
        <li ><a routerLink="/about">ABOUT</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">EDUCATION<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">ROBOTICS</a></li>
            <li><a href="#">C LANGUAGE</a></li>
            <li><a href="#">SCIENCE VI TO X</a></li>
          </ul>
        </li>
        <li ><a routerLink="/gallery">GALLERY</a></li>
        <li ><a routerLink="/contact">CONTACT US</a></li>

      </ul>

    </div>
  </div>
</nav>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"><img src="../assets/images/logo_image.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li ><a routerLink="/home">HOME</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">EDUCATION<span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li ><a style="color: black !important;" href="#">ROBOTICS</a></li>
            <li><a  style="color: black !important;" href="#"> TECHNOLOGY & CODING</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROGRAMS<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a   style="color: black !important;" href="#">CLASSES</a></li>
            <li><a   style="color: black !important;" href="#">WORKSHOPS</a></li>
            <li><a   style="color: black !important;" href="#">CLUBS</a></li>
            <li><a  style="color: black !important;"  href="#">EVENTS</a></li>
          </ul>
        </li>
        <li ><a routerLink="/about">ABOUT</a></li>
        <li ><a routerLink="/gallery">GALLERY</a></li>
        <li ><a routerLink="/blogs">BLOGS</a></li>
        <li ><a routerLink="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-container">
  <router-outlet></router-outlet>

</div>
<app-footer></app-footer>



