<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Us</h2><br>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <p>At Robotics Vidhya, the ultimate goal has always been to help kids have fun in an educational way. By customizing activities that tack onto what they’re already learning in their school curriculum, their knowledge of the subject matter solidifies, all while they build a variety of important social skills.</p>

    </div>
  </div>
</div>
